name: Test GitHub Actions

on:
  push:
    branches:
      - main

jobs:
  run-tests:
    name: Run Tests
    runs-on: ubuntu-latest

    steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: Set up Python
          uses: actions/setup-python@v5
          with:
            python-version: '3.12'

        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install pip-tools
            pip-compile requirements.in
            pip install -r requirements.txt
        
        - name: Carry out Pytest tests
          run: |
                python -m pytest ./test/test_adder.py

                



# on: [push]
# jobs:
#   Explore-GitHub-Actions:
#     runs-on: ubuntu-latest
#     steps:
#       - run: echo "The job was automatically triggered by a ${{ github.event_name }} event."
#       - run: echo "This job is now running on a ${{ runner.os }} server hosted by GitHub!"
#       - run: echo "The name of your branch is ${{ github.ref }} and your repository is ${{ github.repository }}."
#       - name: Check out repository code
#         uses: actions/checkout@v4
#       - run: echo "The ${{ github.repository }} repository has been cloned to the runner."
#       - run: echo "The workflow is now ready to test your code on the runner."
#       - name: List files in the repository
#         run: |
#           ls ${{ github.workspace }}
#       - run: echo "This job's status is ${{ job.status }}."


